h1 {
  font-size: 10px;
}

#bars {
  width: 400px;
  height: 80px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}

.bar {
  flex-grow: 1;
  border: 1px solid gray;
  background-color: green;
  margin-right: 1px;
  height: 10%;
}
